{% extends "header.html" %}


{% load static %}

{% block content %}

<main class = "main-contenedor">
  <div class= "post-contenedor">

        <div class = "post">    
          <div = class = "post__img">
            <img src="{{usuario.imagen.url}}">
          </div>
            <h1 class = "contenido post-titulo">{{user.username}}</h1>
          </div>
          <div>
            <p class = "contenido post-texto">{{request.usuario.biografia}}</p>
          </div>  
      </div>


    </main>
{% endblock %}

