{% extends "header.html" %}


{% load static %}

{% block content %}
<style type="text/css">	
	.pie{
    position: fixed;
    bottom: 0;
    left: 0;
}

</style>

    <h2>New post</h2>
    <div class= "cont-contenedor wrapper"
        <form method="POST" enctype="multipart/form-data">
            <div class= "form__seccion">
            	{% csrf_token %}
                {{ form.as_p }}
             <input class= "form__input" type="text" name="titulo" placeholder="Escriba el Asunto">
            </div>  
            <div class= "form__seccion">
                <textarea class= "form__input" name="conenido" placeholder="Escriba su Mensaje"></textarea>

            </div>
            <div class= "form__seccion">
                <input class= "form__input-submit" type="submit" name="">

            </div>    
        </form>
    </div>   

{% endblock %}

